@charset "UTF-8";


/* Estilos para impressão */
* {
    margin: 10px;
    padding: 10px;
}
html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}
menu {
    display: none;
}
article::after {
    content: " (você está imprimindo este conteúdo)"; /* Adiciona um aviso ao final do artigo */
    font-size: 0.8em;
    color: #555;
}