@charset "UTF-8";

/* Estilos para tela */

* {
    margin: 0;
    padding: 0;
   
    
}
html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.39);
    
}
header h1 {
    text-align: center;
}    
menu {
    background-color: #075c0470;
    padding: 10px 10px 20px 10px;
    margin-bottom: -10px;
}
menu li {
    display: inline;
    margin-right: 15px;
    
    
   
}
menu a {
    text-decoration: none;
    color: #ffffff;
    
}
article {
    width: 600px;
    display: block;
    margin: auto;
}